.movies-card-list {
  display: grid;
  justify-content: center;
  width: calc(100% - 70px * 2);
  margin: 70px auto 28px auto;
  grid-template-columns: repeat(auto-fit, minmax(min-content, 240px));
  gap: 60px 30px;
}

.movies-card-list__load-more {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 320px;
  height: 36px;
  margin: 50px auto 80px auto;
  padding: 11px 0 9px 0;
  cursor: pointer;
  user-select: none;
  transition: opacity .15s;
  color: black;
  border: 1px solid #424242;
  background-color: white;
  font-family: Inter;
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  line-height: 16px;
  transition: opacity .2s;
}

.movies-card-list__load-more:focus {
  outline: none;
}

.movies-card-list__load-more:hover {
  opacity: .8;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .movies-card-list {
    width: calc(100% - 30px * 2);
    margin: 70px auto 28px auto;
    grid-template-columns: repeat(auto-fit, minmax(min-content, 339px));
    gap: 59px 30px;
  }
  .movies-card-list__load-more {
    width: 320px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (min-width: 0) and (max-width: 767px) {
  .movies-card-list {
    width: calc(100% - 10px * 2);
    margin: 40px auto 28px auto;
    grid-template-columns: repeat(auto-fit, minmax(min-content, 300px));
    gap: 39px;
  }
  .movies-card-list__load-more {
    width: 240px;
  }
}
